

main {
    background-image: url(earth-soil-creep-moon-lunar-surface-87009.jpeg);
    align-content: center;
    height: 450px;
    margin-left: 100px;
    margin-right: 100px;
    width: 850px;
    text-align:center;
}
 section {
     display : flex;
     flex-direction: row;
     background-color: grey;
     margin-top: 10px;
     margin-left: 100px;
     
     height: 324px;
     width: 850px;
     

 }
 #article {
     display: flex;
     flex-direction: row;
     margin-top:10px;

 }
 h2 {
     margin-top: 50px;

 }

 
 