body {
    background-image: url(../image/aboutImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

header {
    text-align: center;
}
.bigContainer {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.bubbleOne {
	position: relative;
	background: #F27038;
    border-radius: .4em;
    text-align: center;
}

.bubbleOne:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #F27038;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
.bubbleTwo {
	position: relative;
	background: #00aabb;
    border-radius: .4em;
    grid-column-start: 2;
    grid-row-start: 2;
}

.bubbleTwo:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
    margin-left: -20px;
    
}

h1 {
    font-size: 50px;
    color: whitesmoke;
}
h2 {
    font-size: 20px;
    
}
.rightSide {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10%;
    border-color: black;
    background-color: #CCDFCB;  
    text-align: start;
    

}

.bubbleThree {
	position: relative;
	background: #F27038;
    border-radius: .4em;
    grid-row-start: 3;
    grid-column-start: 1;
}

.bubbleThree:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #F27038;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.bottomLeft {
    background:#056571;
    border-radius: .1em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
}

.bottomRight {
    background : #056571;
    border-radius: .1em;
    grid-column-start: 4;
    grid-row-start: 4;

}