html, body {
    margin: 0;
    padding: 0;
}

.contianer {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr;
    margin-left: 50%;
    margin-right: 50%;
}
h1 {
    font-size: 
}