header {
    background-color: #F55B18;
    height: 150px;
    display:grid;
    grid-template-rows: 1fr  1fr 1fr;
    
    justify-content: center;
    
    
}
h1 {
    text-align: center;
}
body {
    background-image: url(../image/blue-background-book-literature-1340588.jpg);
    background-size: cover;
    

}
main {    
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;

}

nav {
    display:flex;
    flex-direction: row;
}
h2 {
    background-color:#919FA1 ;
    height: 50px;
    text-align: center;
}

iframe {
    
    float: center;
}
#contactUs {

    margin-left: auto;
    margin-right:auto;
    max-width: 500px;
}

label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
input[type="text"], input[type="email"], input[type="message"], textarea, select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.button {
    box-shadow: 1px 1px 5px #B6B6B6;
}

