.container {

display:grid;
margin-right:auto;
margin-left: auto;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 20px;
}
.topSquares {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    background-color:blue;
    height:100px;   
    width: 600px;
    grid-column-start: 2;
    grid-column-end: 4;
    
    
}
.middleSquares {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
    height:100px;
    width: 600px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.bottomSquares {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
    height:100px; 
    width: 600px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.squareOdd {
    background-color: blue;
    border:2px solid black;
}
.squareEven
{
    background-color: cyan;
    border:2px solid black;
}
#restartGameButton {
    float:right;
    
}
button {
    height: 50px;
    width: 100px;
}
